.lemon-nav {
	display: table-row;
	height: 67%;
	.l-wrapper {
		position: relative;
	}
	&__holder {
		padding: 60px 0;
		display: table-cell;
		vertical-align: middle;
	}
}
.nav-descriptions {
	list-style:none;
	margin:0;
	padding:0;
	position: absolute;
	left: 25px;
	top: 37px;
	width: 240px;
	line-height: 20px;
	text-align: center;
	&_right {
		right: 25px;
		left: auto;
	}
	&__item {
		padding: 8px 0;
		background: rgba(255,255,255,0.2);
		border-radius: 10px;
		border:2px dotted;
		opacity: 0;
		position: absolute;
		top: 0;
		left: -9999px;
		transition: opacity 0.3s, left 0 0.3s;
		&_active {
			left: 0;
			opacity: 1;
			transition: opacity 0.3s;
		}
	}
	&__title {
		font-size: 16px;
		margin: 0 0 9px;
		a {
			color: $textColor;
		}
	}
	&__text {
		max-height: 300px;
		overflow: auto;
		padding: 0 12px;
	}
}
.nav-hints {
	list-style:none;
	margin:0;
	padding:0;
	position: absolute;
	color: #000;
	font-size: 16px;
	white-space: nowrap;
	font-weight: bold;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	&__item {
		position: absolute;
		margin: -128px 0 0 121px;
		border-bottom: 2px dotted #797878;
		padding: 0 0 3px;
		opacity: 0;
		transition:opacity 0.3s, top 0 0.3s;
		width: 0;
		height: 0;
		overflow: hidden;
		&:after {
			bg("pointer-line.png");
			content: '';
			width: 128px;
			height: 113px;
			margin-top: 1px;
			position: absolute;
			top: 100%;
			left: -128px;
		}
		&_active {
			opacity: 1;
			transition: opacity 0.3s;
			width: auto;
			height: auto;
			overflow: visible;
		}
		&_group2 {
			margin: 84px 0 0 121px;
			&:after {
				bottom: 0;
				top: auto;
				background-image: url($pathToImg + "/" + "pointer-line2.png");
			}
		}
		&_group3 {
			margin: 84px 120px 0 0;
			&:after {
				bottom: 0;
				top: auto;
				left: auto;
				right: -128px;
				background-image: url($pathToImg + "/" + "pointer-line3.png");
			}
		}
		&_group4 {
			margin: -128px 120px 0 0;
			&:after {
				left: auto;
				right: -128px;
				background-image: url($pathToImg + "/" + "pointer-line4.png");
			}
		}
	}
	&__item_group2 &__text {
		margin-left: 0;
	}
	&__item_group3 &__text {
		margin-right: 0;
	}
	&__text {
		margin: 0 -7px;
	}
}
.lemon {
	text-align: center;
	&__holder {
		display: inline-block;
		position: relative;
	}
	&__map-img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
	&__hover-slices {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
	}
	&__hover-slice {
		position: absolute;
		opacity: 0.2;
		transition: opacity 0.2s;
		&_active {
			opacity: 0;
		}
		&_1 {
			bg("slice10.png");
			width: 112px;
			height: 159px;
			left: 205px;
			top: 21px;
		}
		&_2 {
			bg("slice9.png");
			width: 149px;
			height: 127px;
			left: 222px;
			top: 66px;
		}
		&_3 {
			bg("slice8.png");
			width: 147px;
			height: 78px;
			left: 230px;
			top: 167px;
		}
		&_4 {
			bg("slice7.png");
			width: 143px;
			height: 110px;
			left: 223px;
			top: 202px;
		}
		&_5 {
			bg("slice6.png");
			width: 111px;
			height: 150px;
			left: 210px;
			top: 216px;
		}
		&_6 {
			bg("slice5.png");
			width: 102px;
			height: 156px;
			left: 123px;
			top: 214px;
		}
		&_7 {
			bg("slice4.png");
			width: 149px;
			height: 135px;
			left: 49px;
			top: 204px;
		}
		&_8 {
			bg("slice3.png");
			width: 160px;
			top: 141px;
			left: 26px;
			height: 115px;
		}
		&_9 {
			bg("slice2.png");
			width: 146px;
			height: 138px;
			left: 42px;
			top: 51px;
		}
		&_10 {
			bg("slice1.png");
			width: 95px;
			height: 158px;
			left: 113px;
			top: 22px;
		}
	}
}