$pathToImg = "../img";

$headerMargin = 22px;
$textColor = #402b27;
$darkColor = #141414;

$lineGradient = {
	background: #eeba05,
	background: linear-gradient(to left, #fc416b, #e23b02, #d36a19, #eea00c, #edc800, #a19e00, #88d07a, #52bfd1, #3a8a72)
}